# Project files.
/node_modules
/vendor
/cghooks.lock
/.phplint-cache

# Various Mac OS X.
.DS_Store

# Various Windows.
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Various Linux.
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
