<?xml version="1.0"?>
<ruleset name="WordPress PHP Compatibility">
	<description>Apply PHP compatibility checks to all files.</description>

	<arg name="basepath" value="./" />
	<arg name="extensions" value="php" />
	<arg name="parallel" value="20" />
	<arg value="ps" />

	<ini name="memory_limit" value="256M" />

	<rule ref="PHPCompatibilityWP" />

	<!-- Require PHP 7.3+. -->
	<config name="testVersion" value="7.3-" />

	<!--
	Exclusions.
	-->

	<!-- Build tool config/scripts. -->
	<exclude-pattern>/.vscode/*</exclude-pattern>
</ruleset>
